<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyGenUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <KeyGenUI.Properties.Settings>
            <setting name="LastNumPos" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ConfirmedPass" serializeAs="String">
                <value>000</value>
            </setting>
            <setting name="IsPasswordConfirmed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsGPLNoticeShowed" serializeAs="String">
                <value>False</value>
            </setting>
        </KeyGenUI.Properties.Settings>
    </userSettings>
</configuration>
